.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

.tilt {
	animation-name: tilt-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 3.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite;
	transform-origin: linear;
	display: inline-block;
}

@keyframes tilt-animation {
	0%,
	50%,
	100% {
		transform: rotate(0deg);
	}
	5% {
		transform: rotate(0.6deg);
	}
	10% {
		transform: rotate(1.2deg);
	}
	15% {
		transform: rotate(1.8deg);
	}
	20% {
		transform: rotate(2.4deg);
	}
	25% {
		transform: rotate(3deg);
	}
	30% {
		transform: rotate(2.4deg);
	}
	35% {
		transform: rotate(1.8deg);
	}
	40% {
		transform: rotate(1.2deg);
	}
	45% {
		transform: rotate(0.6deg);
	}
	55% {
		transform: rotate(0.6deg);
	}
	60% {
		transform: rotate(1.2deg);
	}
	65% {
		transform: rotate(1.8deg);
	}
	70% {
		transform: rotate(2.4deg);
	}
	75% {
		transform: rotate(3deg);
	}
	80% {
		transform: rotate(2.4deg);
	}
	85% {
		transform: rotate(1.8deg);
	}
	90% {
		transform: rotate(1.2deg);
	}
	95% {
		transform: rotate(0.6deg);
	}
}
