@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Lato:100&effect=neon);

@import url(https://fonts.googleapis.com/css?family=Megrim:regular);

@layer utilities {
    @variants responsive {
        .masonry {
            column-gap: 1em;
            column-count: 1;
            padding: 1em;
        }

        .masonry-sm {
            column-gap: 1em;
            column-count: 2;
            padding: 1em;
        }

        .masonry-md {
            column-gap: 1em;
            column-count: 3;
            padding: 1em;
        }

        .masonry-lg {
        column-gap: 1em;
        column-count: 4;
        padding: 1em;
    }

        .masonry-xl {
        column-gap: 1em;
        column-count: 5;
        padding: 1em;
    }

    }
}
